<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crime Report</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h2 class="white-text">Report Crime</h2>
  <ion-item>
    <ion-select interface="popover" name="day" placeholder="Type of Crime">
      <ion-select-option value="male">Male</ion-select-option>

    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Report Crime Description</ion-label>
    <ion-textarea rows="5"></ion-textarea>
  </ion-item>
  <ion-item>
    <input type="file" accept="image/*, video/*" (change)="onFilesSelected($event)" #fileInput multiple hidden>

    <ion-button expand="full" (click)="fileInput.click()" [disabled]="files.length >= 5">Select Files</ion-button>

    <div *ngIf="files.length > 0" class="file-grid">
      <div *ngFor="let file of files" class="file-preview">
        <button ion-button clear class="close-button" (click)="removeFile(file)">X</button>
        <ng-container [ngSwitch]="file.type">
          <img *ngSwitchCase="'image/jpeg'" [src]="file.dataURL" alt="{{ file.name }}" class="media-element">
          <img *ngSwitchCase="'image/jpg'" [src]="file.dataURL" alt="{{ file.name }}" class="media-element">
          <img *ngSwitchCase="'image/png'" [src]="file.dataURL" alt="{{ file.name }}" class="media-element">
          <video *ngSwitchCase="'video/mp4'" [src]="file.dataURL" controls class="media-element"></video>
          <p *ngSwitchDefault>Unsupported file type: {{ file.name }}</p>
        </ng-container>
      </div>
    </div>
  </ion-item>
  <ion-item lines="none" class="no-padding">

    <ion-button expand="full" color="primary" class="oval-button">Submit</ion-button>
  </ion-item>

</ion-content>
<app-footer></app-footer>
