<!-- profile.page.html -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Forgot Password </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
    <div class="sign-in-main-container">
      <ion-img
        src="assets/images/san-clemente-logo.png"
        alt="App Logo"
      ></ion-img>
      <h4 class="c-white-text">Mobile Crime and Complaint Management System</h4>
    </div>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
      validation: 'required',
      message: 'Email is required',
      control: forgotPasswordForm.controls['email']
    }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
      validation: 'minlength',
      message: 'Email should have at least 3 Characters',
      control: forgotPasswordForm.controls['email']
    }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
      validation: 'maxLength',
      message: 'Email should have maximum 320 Characters',
      control: forgotPasswordForm.controls['email']
    }"
      ></ng-container>
    </ion-item>

    <div class="sign-in-main-container">
      <ion-button expand="full" color="primary" type="submit"
        >Fogot Password</ion-button
      >
      <h1 class="white-text">San Clemente, Tarlac</h1>
    </div>

    <div class="already-have-account">
      <a class="white-text" routerLink="/pages/auth/compliant-sign-in"
        >Return to Sign in</a
      >
    </div>
  </form>
</ion-content>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span class="text-danger">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
