<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crime Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="crimeForm" (ngSubmit)="onCreateCrime()">
    <h2 class="white-text">Report Complaint</h2>
    <ion-item>
      <ion-select
        interface="popover"
        placeholder="Type of Complaint"
        formControlName="crimeCompliantId"
      >
        <ion-select-option
          *ngFor="let crimeCompliant of crimeCompliantList"
          value="{{ crimeCompliant.Id }}"
          >{{ crimeCompliant.Title }}</ion-select-option
        >
      </ion-select>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
    validation: 'required',
    message: 'Type of Complaint is required',
    control: crimeForm.controls['crimeCompliantId']
  }"
      ></ng-container>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Report Complaint Description</ion-label>
      <ion-textarea rows="5" formControlName="description"></ion-textarea>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
  validation: 'required',
  message: 'Report Complaint Description is required',
  control: crimeForm.controls['description']
}"
      ></ng-container>
    </ion-item>
    <ion-item>
      <ngx-dropzone (change)="onSelectMultipleFile($event)">
        <ngx-dropzone-label
          >Click here or drop here to upload!</ngx-dropzone-label
        >
        <ngx-dropzone-preview
          *ngFor="let f of files"
          [removable]="true"
          (removed)="onRemove(f)"
        >
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </ion-item>
    <ion-item lines="none" class="no-padding">
      <span class="text-danger" *ngIf="this.isCrimeImageVideo?.value === false"
        >Atleast one video or one image is required and not more than 5
        items</span
      >
    </ion-item>
    <ion-item lines="none" class="no-padding">
      <ion-button expand="full" color="primary" type="submit"
        >Submit</ion-button
      >
    </ion-item>
  </form>
</ion-content>
<app-footer></app-footer>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span class="text-danger">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
