<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="redirectToHome()">
        <ion-icon name="home" class="white-icon"></ion-icon>
      </ion-button>
      <!-- <ion-button>
        <ion-icon name="heart" class="white-icon"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="search" class="white-icon"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person" class="white-icon"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="settings" class="white-icon"></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-buttons class="center-button">
      <ion-button (click)="redirectToProfileInformation()">
        <ion-icon name="person" class="white-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button>
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button> -->
      <ion-button>
        <ion-icon name="menu" class="white-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
