<!-- profile.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title> Sign in </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="sign-in-main-container">
      <ion-img src="assets/images/san-clemente-logo.png" alt="App Logo"></ion-img>
      <h4 class="c-white-text">Mobile Crime and Complaint Management System</h4>
    </div>
    <ion-item>
      <ion-label position="stacked">Email Address</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <div class="sign-in-main-container">
      <ion-button expand="full" color="primary" class="oval-button">SIGN IN</ion-button>
      <h1 class="white-text">San Clemente, Tarlac</h1>
    </div>

    <div class="already-have-account">
      <p class="white-text">Dont have an account?</p>
      <ion-button class="sign-in-button" expand="full" (click)="redirectToSignUp()"
        >Sign Up</ion-button
      >
    </div>
</ion-content>

