ion-card {
  background-color: transparent;
  margin-bottom: 20px; /* Adjust the spacing between cards as needed */
  color: white; /* Add this line to make the text white */
}

ion-content {
  --ion-background-color: transparent;
}

ion-card-header {
  color: white; /* Add this line to make the header text white */
}

ion-card-content {
  // color: white; /* Add this line to make the content text white */
  background-color: white;
  color: black;
}

ion-card-title {
  color: white; /* Add this line to make the content text white */
}

.horizontal-line {
  height: 1px; /* Set the desired height for your horizontal line */
  background-color: #ccc; /* Set the desired line color */
  margin: 10px 0; /* Adjust margin as needed */
}
