<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="profile-card">
    <img [src]="API_URL + userInformation.SelfieIdImage" alt="Profile Picture" />
    <ion-card-header>
      <ion-card-title>
        <!-- {{ userInformation.FirstName + ' ' + userInformation.MiddleName + ' ' + userInformation.LastName }} -->
        {{ userInformation.FirstName }}
      </ion-card-title>
      <!-- <ion-card-subtitle>
        UI/UX Designer
      </ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      <ion-item> Date of Birth: {{ userInformation.BirthDateStr }} </ion-item>
      <ion-item> Age: {{ userInformation.BirthDateStr | age }} </ion-item>
      <ion-item> Gender: {{ userInformation.Gender }} </ion-item>
      <ion-item> Contact Number: {{ userInformation.Phone }} </ion-item>
      <ion-item>
        {{ userInformation.HouseNo + ' ' + userInformation.Street + ' ' +
        userInformation.Village + ' ' + userInformation.UnitFloor + ' ' +
        userInformation.Building}}
      </ion-item>
      <ion-button expand="full" color="danger" (click)="onCompliantLogout()"> Logout </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Other profile information can be added here -->
</ion-content>
<app-footer></app-footer>
