.map {
  position: absolute;


  width: 100%;
  // height: 100%;
  height: 85%;
  top:57px;
  background-color: transparent;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.map.visible {
  opacity: 1;
}
