<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Google Maps
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--

  Use this endpoint for Dropdown to get all of the reported crime or complaint
  http://localhost:8001/api/get-manage-crime?page=1&pageSize=10

-->
<ion-content>
  <form [formGroup]="locationForm">
    <ion-item>
      <ion-select interface="popover" (ionChange)="onChangeLocationDropdown()" placeholder="Complaint Description to add Location" formControlName="locationDescriptionDropdown">
        <ion-select-option *ngFor="let locationDropdown of locationDropdownList" value="{{ locationDropdown.ReportId }}">{{ locationDropdown.Description }}</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="map" #map></div>
  </form>

</ion-content>
<app-footer></app-footer>
